<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" ;="" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowshare Generated Document</title>
      <link id="lightboxstyle" rel="stylesheet" href="../../../resources/lightbox/css/lightbox.min.css" />
      <link id="style" rel="stylesheet" href="../../../resources/css/style.css" />

  </head>
  <body>
    <section id="main_content" class="main-content">
      <div id="main_container" class="container">
        <div id="main_row" class="row">
          <div id="main_column" class="col-01">
            <div id="toc" class="sticky-while-scroll">
              <h2 id="content_main_heading" class="side-bar-title">CONTENT</h2>
			  <a class="top-space" href="#step1"><h3>Implement Stripe Checkout</h3></a>
<a href="#step6"><h3>Create a Stripe Account</h3></a>
<a href="#step13"><h3>Test</h3></a>
<a href="#step16"><h3>Test</h3></a>
<a href="#step24"><h3>Test the checkout process</h3></a>
<a href="#step25"><h3>The necessity of webhooks</h3></a>
<a href="#step55"><h3>Test</h3></a>

                <img id="logo.png" class="top-space logo" src="../../images/miraminds_logo_small_white.png" alt="logo.png"/>

            </div>
          </div>
          <div id="second_column" class="col-02"></div>
          <div id="third_column" class="col-03">
            <div id="fourth_column" class="content-wrap">
              <h1>How to access image file 10.png</h1>
              <h3 id="top_space_heading" class="top-space">  </h3>
<div id="step1"></div>
<h2 class="top-space-for-h2">
Implement Stripe Checkout
</h2>
<p id="step_1_main_paragraph" class="step-number top-space">1.</p>
<p id="step_1_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Start point. Product page.</p>
</p><a href="../../images/How_to_access_image_file_10.png_1.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_1.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_1.png"/>
</a><p id="step_2_main_paragraph" class="step-number top-space">2.</p>
<p id="step_2_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"> In PhpStorm, Install Stripe php package.</p>
</p><a href="../../images/How_to_access_image_file_10.png_2.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_2.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_2.png"/>
</a><p id="step_3_main_paragraph" class="step-number top-space">3.</p>
<p id="step_3_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Now, go to Google.com and search for <span style=" color:#095981;">“stripe accept a payment”</span>. It's the documentation of Stripe. </p>
</p><a href="../../images/How_to_access_image_file_10.png_3.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_3.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_3.png"/>
</a><p id="step_4_main_paragraph" class="step-number top-space">4.</p>
<p id="step_4_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Copy the code to set the API key and the checkout session. And paste it in the ProductController.</p>
</p><a href="../../images/How_to_access_image_file_10.png_4.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_4.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_4.png"/>
</a><p id="step_5_main_paragraph" class="step-number top-space">5.</p>
<p id="step_5_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#1d1c1d; background-color:#f8f8f8;">1. Go to stripe.com and register as a new user  2. Verify your email to be able to use Stripe 3. After verification, click on &quot;Activate payments&quot;. 4. Choose Belgium and Natuurlijke persoon 5. Then, since we going to use Stripe in test mode and you don't need to fill any other information, close the tab. </span></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_5.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_5.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_5.png"/>
</a><div id="step6"></div>
<h2 class="top-space-for-h2">
Create a Stripe Account
</h2>
<p id="step_6_main_paragraph" class="step-number top-space">6.</p>
<p id="step_6_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#1d1c1d; background-color:#f8f8f8;">6. Then on dashboard page, click on API keys for developers. 7. On this page you will find the public and secret key to add to your project.</span></p>
</p><a href="../../images/How_to_access_image_file_10.png_6.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_6.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_6.png"/>
</a><p id="step_7_main_paragraph" class="step-number top-space">7.</p>
<p id="step_7_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click on API keys to access the Stripe Secret key</p>
</p><a href="../../images/How_to_access_image_file_10.png_7.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_7.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_7.png"/>
</a><p id="step_8_main_paragraph" class="step-number top-space">8.</p>
<p id="step_8_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Open the <span style=" color:#095981;">.env</span>. file and paste the Stripe Secret key</p>
</p><a href="../../images/How_to_access_image_file_10.png_8.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_8.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_8.png"/>
</a><p id="step_9_main_paragraph" class="step-number top-space">9.</p>
<p id="step_9_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ProductController.php’</span>. The public function index provides the products that will be checked out.<br />In the public function checkout, paste the code you retrieved from Stripe docs and remove the example key. Replace that key with the env. code.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_9.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_9.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_9.png"/>
</a><p id="step_10_main_paragraph" class="step-number top-space">10.</p>
<p id="step_10_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ProductController.php’</span>, </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. provide again all the products. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. The products will be checked out with line items as an empty array.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">3. Add the total price as 0.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">4. Iterate over the products.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">5. Specify the line items in the array.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">6. Add images.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">7. Create a session. The session contains the success and the cancel urls.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">8. Configure the names and arguments of the success and cancel urls according to web.php routes. <br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_10.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_10.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_10.png"/>
</a><p id="step_11_main_paragraph" class="step-number top-space">11.</p>
<p id="step_11_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ web.php’</span>.,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Create the routes for success and cancel functions.</p>
</p><a href="../../images/How_to_access_image_file_10.png_11.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_11.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_11.png"/>
</a><p id="step_12_main_paragraph" class="step-number top-space">12.</p>
<p id="step_12_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ProductController.php’</span>.,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Create an order. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Explanation: We have prepared the data (products), we created a session and Stripe returned session. Now we have to take the session Id and save it in the database and associate it to the order.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Add the details of the order (status, total_price, session_id) before redirecting the user to the session URL.</p>
</p><a href="../../images/How_to_access_image_file_10.png_12.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_12.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_12.png"/>
</a><div id="step13"></div>
<h2 class="top-space-for-h2">
Test
</h2>
<p id="step_13_main_paragraph" class="step-number top-space">13.</p>
<p id="step_13_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ProductController.php’</span>., </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. If we dd the checkout session, we </p>
</p><a href="../../images/How_to_access_image_file_10.png_13.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_13.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_13.png"/>
</a><p id="step_14_main_paragraph" class="step-number top-space">14.</p>
<p id="step_14_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">On the products page, </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click <span style=" color:#095981;">‘Checkout’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_14.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_14.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_14.png"/>
</a><p id="step_15_main_paragraph" class="step-number top-space">15.</p>
<p id="step_15_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">The checkout session does not give any details on the customer and the payment status is 'unpaid'.</p>
</p><a href="../../images/How_to_access_image_file_10.png_15.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_15.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_15.png"/>
</a><div id="step16"></div>
<h2 class="top-space-for-h2">
Test
</h2>
<p id="step_16_main_paragraph" class="step-number top-space">16.</p>
<p id="step_16_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ProductController.php’</span>., </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Remove the dd ($checkout_session)</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Put a dd($session)</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_16.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_16.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_16.png"/>
</a><p id="step_17_main_paragraph" class="step-number top-space">17.</p>
<p id="step_17_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click <span style=" color:#095981;">‘laravelgroupworkclone – checkout-success.blade.php’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_17.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_17.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_17.png"/>
</a><p id="step_18_main_paragraph" class="step-number top-space">18.</p>
<p id="step_18_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Create the view page in the resources/product folder, <span style=" color:#095981;">‘checkout-success.blade.php’ </span>with a success messsage, and <span style=" color:#095981;">‘checkout-cancel.blade.php’</span>  with a failure message.</p>
</p><a href="../../images/How_to_access_image_file_10.png_18.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_18.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_18.png"/>
</a><p id="step_19_main_paragraph" class="step-number top-space">19.</p>
<p id="step_19_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. On the products page,</p>
<p style=" margin-top:16px; margin-bottom:16px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Click again on <span style=" color:#095981;">‘Checkout’</span>. </p>
<p style=" margin-top:16px; margin-bottom:16px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">You are redirected to the Stripe checkout page.</p>
<p style=" margin-top:16px; margin-bottom:16px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Fill in the card info, specify the email, the cardholder name. </p>
<p style="-qt-paragraph-type:empty; margin-top:16px; margin-bottom:16px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_19.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_19.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_19.png"/>
</a><p id="step_20_main_paragraph" class="step-number top-space">20.</p>
<p id="step_20_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Also fill <span style=" color:#095981;">‘Expiration’</span> date and CVC. </p>
</p><a href="../../images/How_to_access_image_file_10.png_20.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_20.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_20.png"/>
</a><p id="step_21_main_paragraph" class="step-number top-space">21.</p>
<p id="step_21_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click the <span style=" color:#095981;">‘Pay’</span> button. </p>
<p style=" margin-top:16px; margin-bottom:16px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">You will be redirected to the checkout.success page. </p>
</p><a href="../../images/How_to_access_image_file_10.png_21.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_21.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_21.png"/>
</a><p id="step_22_main_paragraph" class="step-number top-space">22.</p>
<p id="step_22_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Because we dd the session, the customer's details are now visible and the payment_status is 'paid'.</p>
</p><a href="../../images/How_to_access_image_file_10.png_22.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_22.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_22.png"/>
</a><p id="step_23_main_paragraph" class="step-number top-space">23.</p>
<p id="step_23_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In the <span style=" color:#095981;">‘ProductController.php’</span>.,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Add a return view success to the success function </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Stripe gives the possibility to customize the session Id ad append it to the success url route.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">3. If the session does not exist, a not found exception is thrown, BUT if the session Id is invalid, it's also going to thrown an exception error.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">4. To update the order, take the session_id to identify the order in the database. Select the order which is unpaid and change the status into paid. Then save the order</p>
</p><a href="../../images/How_to_access_image_file_10.png_23.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_23.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_23.png"/>
</a><div id="step24"></div>
<h2 class="top-space-for-h2">
Test the checkout process
</h2>
<p id="step_24_main_paragraph" class="step-number top-space">24.</p>
<p id="step_24_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. On the products page,</p>
<p style=" margin-top:16px; margin-bottom:16px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Click again on <span style=" color:#095981;">‘Checkout’</span>. </p>
<p style=" margin-top:16px; margin-bottom:16px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">You are redirected to the Stripe checkout page.</p>
<p style=" margin-top:16px; margin-bottom:16px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Fill in the card info, specify the email, the cardholder name.<br />3. You are redirected to the success page, and the success message is displayed. </p>
</p><a href="../../images/How_to_access_image_file_10.png_24.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_24.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_24.png"/>
</a><div id="step25"></div>
<h2 class="top-space-for-h2">
The necessity of webhooks
</h2>
<p id="step_25_main_paragraph" class="step-number top-space">25.</p>
<p id="step_25_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#000000;">The ideal scenario is: You click on checkout, to process the order, you are redirected to the stripe page and the card info are filled out. You click pay and when the button turns green, it means the money has been taken from the customer's account and he received a message on screen.</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#000000;">But if the redirect doesn't happen in the browser, the order will stay unpaid.</span></p>
</p><a href="../../images/How_to_access_image_file_10.png_25.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_25.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_25.png"/>
</a><p id="step_26_main_paragraph" class="step-number top-space">26.</p>
<p id="step_26_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#000000;">The ideal scenario is: You click on checkout, to process the order, you are redirected to the stripe page and the card info are filled out. You click pay and when the button turns green, it means the money has been taken from the customer's account and he received a message on screen.</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#000000;">But if the redirect doesn't happen in the browser, the order will stay unpaid.</span></p>
</p><a href="../../images/How_to_access_image_file_10.png_26.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_26.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_26.png"/>
</a><p id="step_27_main_paragraph" class="step-number top-space">27.</p>
<p id="step_27_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Stripe supports webhooks. Webhooks are http requests that are sent to the server for certain types of events. One of them being the checkout.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ProductController.php’</span>. ,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">To define the webhook url, </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Create a public function webhook with the following code taken from Stripe docs at <a href="https://dashboard.stripe.com/test/webhooks/create?endpoint_location=local"><span style=" text-decoration: underline; color:#0000ff;">https://dashboard.stripe.com/test/webhooks/create?endpoint_location=local</span></a></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_27.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_27.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_27.png"/>
</a><p id="step_28_main_paragraph" class="step-number top-space">28.</p>
<p id="step_28_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ProductController.php’</span>.,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Complete the code for the webhook function. In this code, we read all the input coming, and construct an event based on the payload, signature header and endpoint secret. The return response is an empty string with code 200. When an errors happens it returns the status 401 or 402.</p>
</p><a href="../../images/How_to_access_image_file_10.png_28.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_28.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_28.png"/>
</a><p id="step_29_main_paragraph" class="step-number top-space">29.</p>
<p id="step_29_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In <span style=" color:#095981;">‘ web.php’</span>.,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Create a route for webhook with a request method 'post'. </p>
</p><a href="../../images/How_to_access_image_file_10.png_29.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_29.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_29.png"/>
</a><p id="step_30_main_paragraph" class="step-number top-space">30.</p>
<p id="step_30_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Because the request is coming from Stripe, we will have a csrf validation problem if we don't disable csrf for this url.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In bootstrap/ <span style=" color:#095981;">‘app.php’</span>., </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Copy the code below to disable the csrf Tokens.</p>
</p><a href="../../images/How_to_access_image_file_10.png_30.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_30.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_30.png"/>
</a><p id="step_31_main_paragraph" class="step-number top-space">31.</p>
<p id="step_31_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">To listen to Stripe events,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Go to webhooks in the developer dashboard and click on <span style=" color:#095981;">‘Add endpoint’</span>.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_31.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_31.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_31.png"/>
</a><p id="step_32_main_paragraph" class="step-number top-space">32.</p>
<p id="step_32_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In the Listen to Stripe Events page, </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click on <span style=" color:#095981;">‘Test in a local environment’</span>. </p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_32.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_32.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_32.png"/>
</a><p id="step_33_main_paragraph" class="step-number top-space">33.</p>
<p id="step_33_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Then Click on <span style=" color:#095981;">‘Download the CLI’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_33.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_33.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_33.png"/>
</a><p id="step_34_main_paragraph" class="step-number top-space">34.</p>
<p id="step_34_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">To install the Stripe LCI,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click  on <span style=" color:#095981;">‘Windows’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_34.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_34.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_34.png"/>
</a><p id="step_35_main_paragraph" class="step-number top-space">35.</p>
<p id="step_35_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click on <span style=" color:#095981;">‘Github’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_35.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_35.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_35.png"/>
</a><p id="step_36_main_paragraph" class="step-number top-space">36.</p>
<p id="step_36_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Scroll down and look for options to download on the operating system.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Click on the latest zip file  <span style=" color:#095981;">‘stripe_1.19.4_windows_x86_64.zip’ </span>and download the file. </p>
</p><a href="../../images/How_to_access_image_file_10.png_36.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_36.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_36.png"/>
</a><p id="step_37_main_paragraph" class="step-number top-space">37.</p>
<p id="step_37_second_paragraph" class="paragraph-top-space">

<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Unzip the file to access the  <span style=" color:#095981;">‘stripe.exe’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_37.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_37.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_37.png"/>
</a><p id="step_38_main_paragraph" class="step-number top-space">38.</p>
<p id="step_38_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">To log in into the CLI</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Select <span style=" color:#095981;">‘Copy as path’</span> from the menu when you click on the stripe.exe file. </p>
</p><a href="../../images/How_to_access_image_file_10.png_38.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_38.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_38.png"/>
</a><p id="step_39_main_paragraph" class="step-number top-space">39.</p>
<p id="step_39_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Open <span style=" color:#095981;">‘Command Prompt’</span>. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Navigate to the path. In this example “C:\Users\marce\Downloads\stripe.exe”</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">3. Call the stripe.exe login -&gt; “C:\Users\marce\Downloads\stripe.exe” login</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">4. Click <span style=" color:#095981;">‘Enter’</span>.</p>
</p><a href="../../images/How_to_access_image_file_10.png_39.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_39.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_39.png"/>
</a><p id="step_40_main_paragraph" class="step-number top-space">40.</p>
<p id="step_40_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">For the authentication with Stripe,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Copy the link that appears on the CMD and open it in the browser.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Check that the pairing code from the CMD is a match with the code on the browser and click on <span style=" color:#095981;">‘Allow access’</span>.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_40.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_40.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_40.png"/>
</a><p id="step_41_main_paragraph" class="step-number top-space">41.</p>
<p id="step_41_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Press Ctrl+C. </p>
</p><a href="../../images/How_to_access_image_file_10.png_41.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_41.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_41.png"/>
</a><p id="step_42_main_paragraph" class="step-number top-space">42.</p>
<p id="step_42_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">The view <span style=" color:#095981;">‘Access Granted’ </span>.appears.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">You are authorized in the Stripe CLI.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Close the tab.</p>
</p><a href="../../images/How_to_access_image_file_10.png_42.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_42.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_42.png"/>
</a><p id="step_43_main_paragraph" class="step-number top-space">43.</p>
<p id="step_43_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In the Command prompt page, you receive a message. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. The Stripe CLI is configures for your account with your account id. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. To forward events to the webhook,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Explanation: Whenever the checkout happens, Stripe cannot make a request to our server because it's locally hosted. But Stripe can listen to the webhooks and forward them to our local server. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">3. Return to the Stripe docs at <a href="https://dashboard.stripe.com/test/webhooks/create?endpoint_location=local"><span style=" text-decoration: underline; color:#0000ff;">https://dashboard.stripe.com/test/webhooks/create?endpoint_location=local</span></a></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">4. Copy the code and change where you are listening to the webhook, in this case : “C:\Users\marce\Downloads\stripe.exe” listen --forward-to localhost:8000/webhook</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">5. Press on Enter. The webhook signing secret key appears, copy it and paste it in the .env file. It will be linked to the endpoint secret on the webhook function.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">IMPORTANT: Don't close this CMD.</p>
</p><a href="../../images/How_to_access_image_file_10.png_43.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_43.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_43.png"/>
</a><p id="step_44_main_paragraph" class="step-number top-space">44.</p>
<p id="step_44_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Trigger an event,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Explanation:To test if an event comes and want type of events.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Open another CMD.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Copy the path to the stripe.exe file</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">3. Copy the code to trigger  payment_intent succeeded</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"> </p>
</p><a href="../../images/How_to_access_image_file_10.png_44.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_44.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_44.png"/>
</a><p id="step_45_main_paragraph" class="step-number top-space">45.</p>
<p id="step_45_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">In the second <span style=" color:#095981;">‘Command Prompt’</span>.CMD that we have just opened, </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Paste the path to the stripe.exe file</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Paste the code to trigger the event</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">3. Click on Enter. </p>
</p><a href="../../images/How_to_access_image_file_10.png_45.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_45.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_45.png"/>
</a><p id="step_46_main_paragraph" class="step-number top-space">46.</p>
<p id="step_46_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Open the first <span style=" color:#095981;">‘Command Prompt’</span>.CMD, </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">We see the different events, charge succeeded, payment intent created, payment intent succeeded and 3 request were made in to the webhook and return with the status 200. It also shows checkout session completed after implementing the webhook function.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. If you ctrl+click on each of the events, you have access to the corresponding details. cf the following images.</p>
</p><a href="../../images/How_to_access_image_file_10.png_46.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_46.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_46.png"/>
</a><p id="step_47_main_paragraph" class="step-number top-space">47.</p>
<p id="step_47_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Payment intent</p>
</p><a href="../../images/How_to_access_image_file_10.png_47.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_47.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_47.png"/>
</a><p id="step_48_main_paragraph" class="step-number top-space">48.</p>
<p id="step_48_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Payment intent created</p>
</p><a href="../../images/How_to_access_image_file_10.png_48.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_48.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_48.png"/>
</a><p id="step_49_main_paragraph" class="step-number top-space">49.</p>
<p id="step_49_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#095981;">‘A Checkout Session was completed’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_49.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_49.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_49.png"/>
</a><p id="step_50_main_paragraph" class="step-number top-space">50.</p>
<p id="step_50_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click <span style=" color:#095981;">‘Payments’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_50.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_50.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_50.png"/>
</a><p id="step_51_main_paragraph" class="step-number top-space">51.</p>
<p id="step_51_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Follow the link: <span style=" color:#095981;">‘ch_3OzEYcP2Py5LOrCV1VUCeFGk was charged €1,423.89’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_51.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_51.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_51.png"/>
</a><p id="step_52_main_paragraph" class="step-number top-space">52.</p>
<p id="step_52_second_paragraph" class="paragraph-top-space">

<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
</p><a href="../../images/How_to_access_image_file_10.png_52.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_52.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_52.png"/>
</a><p id="step_53_main_paragraph" class="step-number top-space">53.</p>
<p id="step_53_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Click <span style=" color:#095981;">‘Webhooks’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_53.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_53.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_53.png"/>
</a><p id="step_54_main_paragraph" class="step-number top-space">54.</p>
<p id="step_54_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">You can also have more details about the order and the checkout in the received events. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Navigate to <span style=" color:#095981;">‘Add endpoint’</span> in the Stripe test dashboard.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. Click on <span style=" color:#095981;">‘Received events’</span>. </p>
</p><a href="../../images/How_to_access_image_file_10.png_54.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_54.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_54.png"/>
</a><div id="step55"></div>
<h2 class="top-space-for-h2">
Test
</h2>
<p id="step_55_main_paragraph" class="step-number top-space">55.</p>
<p id="step_55_second_paragraph" class="paragraph-top-space">

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Open the localhost page, </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Navigate to the products page</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">1. Click on  <span style=" color:#095981;">‘Checkout’.</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">2. The Skipe checkout page appears,</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Fill in the card info, specify the email, the cardholder name. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">3. Click on  <span style=" color:#095981;">‘Pay’.</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">4. The success page appears with the success message. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">When you look into the database, the status is paid. Even when the redirect to the success page doesn't appear, the status is confirmed by Stripe, thanks to the webhook. In production, an email can be sent to the user to confirm the payment. </p>
</p><a href="../../images/How_to_access_image_file_10.png_55.png" data-lightbox="”mygallery”">
<img id="How_to_access_image_file_10.png_55.png" class="stap-image" src="../../images/How_to_access_image_file_10.png_55.png"/>
</a>				<footer id="footer">
                <div class="back-to-top-wrap">
                  <button
                    onclick="topFunction()"
                    id="go-to-top"
                    title="Go to top"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 26 15.23"
                    >
                      <g id="Ebene_2" data-name="Ebene 2">
                        <g id="Background">
                          <path
                            d="M25.71,12.46,13.71.29a1,1,0,0,0-1.42,0L.29,12.46a1,1,0,0,0,0,1.4l1.06,1.07a1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3L13,4.58,23.23,14.93a1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l1.06-1.07A1,1,0,0,0,25.71,12.46Z"
                          />
                        </g>
                      </g>
                    </svg>
                  </button>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script id="lightboxscript" src="../../../resources/lightbox/js/lightbox-plus-jquery.min.js"></script>
    <script id="script" src="../../../resources/js/script.js"></script>

  </body>
</html>
